@page
@model DWWebApp.Pages.Developers.profileModel
@{
}

<h1>
    Developer Username : @Model.Developer.devUsername @Model.Developer.devId
</h1>

<div>
    <table>
        Years : <thead>@Model.Developer.devYears</thead>
        <p>
            @Model.Developer.devAbout
        </p>
    </table>    
</div>