@page
@model DWWebApp.Pages.Developers.profileModel
@{
}

<h1>
    Developer - @Model.Developer.devUsername
    Years - <thead>@Model.Developer.devYears</thead>
</h1>

<table>
        
    <thead>@Model.Developer.devAbout</thead>
    
<</table>