@page "{projectId:int}"
@model detailsModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Project.ProjectsName</h2>

<div>
    Project Language :

    @foreach (var languages in Model.Project.Language)
    {
        <li>
            @languages
        </li>
    }


</div>
<div>
    About : @Model.Project.About
</div>

<a asp-page="./list" class="btn btn-outline-primary"> All Projects. </a>