@page "{projectId:int}"
@model ProjectEditModel
@{
    ViewData["Title"] = "ProjectEdit";
}

<h2>Edit @Model.Project.ProjectName</h2>

<form method="POST">

    <input type="hidden" asp-for="Project.Id"/>

    <div class="from-group">
        <label asp-for="Project.ProjectName"></label>
        <input asp-for="Project.ProjectName" class="from-control"/>
    </div>

    <div class="from-group">
        <label asp-for="Project.Language"></label>
            <select class="from-control" asp-for="Project.Language"
                                        asp-items="Model.Language">
    
            </select>
    </div>

    <div class="from-group">
    <label asp-for="Project.About"></label>
    <input asp-for="Project.About" class="from-control"/>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: blue;"> Save Project !</button>
</form>