@page
@model ProjectModel 

<h1> Yoo u can search my projects</h1>

<form method="GET">
    <div class="from-group">
        <div class="input-group">
            <input type="search" class="from-control" value="" name="searchTerm"/>
            <span class="input-group-brtn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table>
    @foreach (var item in @Model.Projects)
    {
        <thead>

        <tr>
        <th>@item.ProjectName</th>
        <tr>

        <tr>
        <th>@item.Language</th>
        </tr>

        <tr>
        <th>@item.About</th>
        </tr>

        <tr>
        <th>
            <a class="btn btn-lg"
                style="background-color: blue;"
                href="/Projects/ProjectDetails/@item.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>

            <a class="btn btn-lg"
                style="background-color: yellow;"
                href="/Projects/ProjectEdit/@item.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>

        </th>
        </tr>

        </thead>
    }
</table>

<table>
<thead>
  <tr>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
</tbody>
</table>