@page "{projectId:int}"
@model ProjectDetailsModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<div> Project Details .</div>

<h1>
    ProjectName : @Model.Project.ProjectName
</h1>

<div>

    Project Language : 

        @foreach (var languages in Model.Project.Language)
        {
            <li>
                @languages
            </li>
        }

</div>

<div>
    GitUrl = "https://github.com/OdeToCode/OdeToFood",
</div>

<div>
    About : @Model.Project.About
</div>

<a asp-page = "./Project" class="btn btn-default" style="background-color: red;"> All Projects .</a>
