@page
@model Developers.profileModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my portfolio site. You can check out my projects and my profile</a>.</p>
</div>

@Model.Developer.devAbout