<ul id="project-list"></ul>
<ul id="project-list">Test
</ul>

@section scripts{
<script type="text/javascript">
    $(function () {
        $.get('/api/project/').done(function (projects) {
            $.each(projects, function (i, projects) {
                var item = `<li>
                            <strong>${projects.make} ${projects.model}</strong>
                            (£${projects.append})</li>`;
                $('#project-list').append(item);
            });
        });
    });
</script>
}