@page
@model DeveloperModel

@Model.message

<table class="table">
    @foreach (var developer in Model.Developers)
    {
        <tr>
            <td>@developer.UserName</td>
            <td>@developer.Years</td>
            <td>@developer.About</td>
        </tr>
    }
</table>